<div class="row g-3">
  <div class="col-12 col-sm-6 col-lg-4" *ngFor="let recipe of recipes">
    <div class="card h-100 shadow-sm recipe-card">
      <img [src]="recipe.imagen" class="card-img-top" [alt]="recipe.nombre">
      <div class="card-body">
        <h5 class="card-title">{{ recipe.nombre }}</h5>
        <ul class="list-unstyled mb-2">
          <li *ngFor="let tag of recipe.etiquetas">• {{ tag }}</li>
        </ul>
        <p class="card-text"><strong>Porciones:</strong> {{ recipe.porciones }}</p>
        <a [routerLink]="['/recipe', recipe.id]" class="btn btn-primary">Ver la receta</a>
      </div>
    </div>
  </div>
</div>
